
.parent{
  display: flex;
  position: fixed;  
  width: 300px;
  height: 200px;
  border-width: 2px;
  border-color: black;
  border-style: solid;  
}
.line1{  
  height: 100%;
  border: 1px solid red;
  position: absolute;
  left: 50%;
  visibility: hidden;   
}
.line2{
  width: 100%;  
  border: 1px solid red;
  position: absolute;
  top: 50%;
  visibility: hidden;   
}
.child1{      
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}
.child2{       
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 40px;
  border-color: red;
  border-style: solid;
  border-width: 2px;   
}
